# Thư mục Môi trường ảo (Rất lớn và không cần thiết)
venv/

# File cache của Python
__pycache__/
*.pyc

# File rác của Hệ điều hành
.DS_Store
Thumbs.db

# File cấu hình của IDE/Trình soạn thảo
.vscode/
.idea/